p
button#run-game.center-block.btn.btn-default Начать игру
p
div.col-md-4
    h3.text-center Ресурсы
    center.row
        div.btn-group.col-md-7
            button.btn.btn-primary.btn-success#resource-sort-up По возрастанию
            button.btn.btn-primary.btn-danger#resource-sort-down По убыванию
        span.col-md-2 Фильтр
        input.col-md-3#resource-filter
    p
    button#create-resource.btn.btn-default.center-block Добавить
    p
    div#resource-list

div.col-md-4
    h3.text-center Плохие факторы
    center.row
        div.btn-group.col-md-7
            button.btn.btn-primary.btn-success#bad-factor-sort-up По возрастанию
            button.btn.btn-primary.btn-danger#bad-factor-sort-down По убыванию
        span.col-md-2 Фильтр
        input.col-md-3#bad-factor-filter
    p
    button#create-bad-factor.btn.btn-default.center-block Добавить
    p
    div#bad-factor-list
div.col-md-4
    h3.text-center Средства защиты
    center.row
        div.btn-group.col-md-7
            button.btn.btn-primary.btn-success#protector-sort-up По возрастанию
            button.btn.btn-primary.btn-danger#protector-sort-down По убыванию
        span.col-md-2 Фильтр
        input.col-md-3#protector-filter
    p
    button#create-protector.btn.btn-default.center-block Добавить
    p
    div#protector-list


mixin checkbox(name, title)
    span.checkbox-inline= title
    input.checkbox-inline.ui-widget-content.ui-corner-all(name=name, type='checkbox')

mixin textbox(name, title, type)
    label= title
    input.text.ui-widget-content.ui-corner-all(type=type, name=name, value='')


div#resource-form(title='Ресурс')
    form
        +textbox('name', 'Название ресурса', 'text')
        +textbox('quality', 'Изначальное качество ресурса', 'number')
        +textbox('rent', 'Деньги за один день хранения ресурса', 'number')
        +textbox('image', 'Ссылка на картинку', 'text')

        // Allow form submission with keyboard without duplicating the dialog button
        input(type='submit', tabindex='-1', style='position:absolute; top:-1000px')


script#resource-template(type='x-tpl-handlebars')
    | {{#resource}}
    div.panel.panel-default
        div.panel-heading.clearfix
            h5.pull-left
                | {{name}}
            div.btn-group.pull-right(data-idx='{{idx}}')
                button.btn.btn-sm.btn-danger.delete-resource Удалить
                button.btn.btn-sm.btn-success.update-resource Изменить
        div.panel-body
            p
                b Изначальное качество ресурса: {{quality}}
            p
                b Деньги за один день хранения ресурса: {{rent}}
    | {{/resource}}
    | {{^resource}}
    div.panel.panel-default
        div.panel-body.text-center Ресурсов нет
    | {{/resource}}


div#bad-factor-form(title='Плохой фактор')
    form
        +textbox('name', 'Название фактора', 'text')
        +textbox('damage', 'Насколько портит данный фактор качество ресурса', 'number')
        +textbox('hitpoints', 'Количество очков "жизней" фактора', 'number')
        label Ресурсы, на которые может влиять фактор
        select(name='multi', multiple='multiple')

        // Allow form submission with keyboard without duplicating the dialog button
        input(type='submit', tabindex='-1', style='position:absolute; top:-1000px')

script#bad-factor-template(type='x-tpl-handlebars')
    | {{#bad-factor}}
    div.panel.panel-default
        div.panel-heading.clearfix
            h5.pull-left
                | {{name}}
            div.btn-group.pull-right(data-idx='{{idx}}')
                button.btn.btn-sm.btn-danger.delete-bad-factor Удалить
                button.btn.btn-sm.btn-success.update-bad-factor Изменить
        div.panel-body
            p
                b Очки жизней: {{hitPoints}}
            p
                b Урон ресурсам: {{damage}}
            p
                b Повреждаемые ресурсы
                ul
                    |{{#affectedResources}}
                    li {{name}}
                    |{{/affectedResources}}

    | {{/bad-factor}}
    | {{^bad-factor}}
    div.panel.panel-default
        div.panel-body.text-center Плохих факторов нет
    | {{/bad-factor}}


div#protector-form(title='Средство защиты')
    form
        +textbox('name', 'Название средства', 'text')
        +textbox('cost', 'Стоимость', 'number')
        +textbox('damage', 'Урон плохому фактору', 'number')
        label Плохие факторы, против которых данное средство работет
        select(name='multi', multiple='multiple')

        // Allow form submission with keyboard without duplicating the dialog button
        input(type='submit', tabindex='-1', style='position:absolute; top:-1000px')

script#protector-template(type='x-tpl-handlebars')
    | {{#protector}}
    div.panel.panel-default
        div.panel-heading.clearfix
            h5.pull-left
                | {{name}}
            div.btn-group.pull-right(data-idx='{{idx}}')
                button.btn.btn-sm.btn-danger.delete-protector Удалить
                button.btn.btn-sm.btn-success.update-protector Изменить
        div.panel-body
            p
                b Урон плохому фактору: {{damage}}
            p
                b Цена: {{cost}}
            p
                b Побеждаемые факторы
                ul
                    |{{#goodAgainst}}
                    li {{name}}
                    |{{/goodAgainst}}

    | {{/protector}}
    | {{^protector}}
    div.panel.panel-default
        div.panel-body.text-center Средств нет
    | {{/protector}}